body {
  font-family: Comfortaa;
  margin-top: 100px;
}

.float-left {
  float: left;
}

.image-container {
  width: 480px;
  height: 360px;
}

.image-detail {
  width: 480px;
  height: 360px;
}

.logo {
  width: auto;
}

.float-right {
  float: right;
}

.img {
  height: 360px;
  object-fit: cover;
}

.textarea-input {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.border-red {
  border: solid #bb1212 1px;
  border-radius: 4px;
}

.card-full {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 10px;
}

.card-image {
  display: flex;
  justify-content: center;
  max-height: 200px;
  max-width: 319px;
}

.btn-secondary {
  background-color: #bb1212;
  border-style: none;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fa0000;
  border-style: none;
}

.paragraph:hover {
  text-decoration: none;
  color: #5a6268;
}

.app-content {
  flex: 1;
}

.width-full {
  width: 100%;
}

.pb-cmnt-container {
  margin-top: 50px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #f2f2f2;
}

.App-header {
  background-color: #bb1212;
  height: 110px;
  padding: 20px;
  padding-top: 15px;
  color: white;
  text-align: right;
  justify-content: flex-end;
}

.header {
  background-color: #bb1212;
  color: white;
  text-align: right;
  justify-content: flex-end;
}

.footer {
  margin-top: 100px;
  border-top: solid #ccc 2px;
  padding: 25px;
  width: 100%;
  height: 8px;
}

/* .carousels {
  display: flex;
  justify-content: center;
} */

.detailTab {
  display: flex;
  justify-content: space-around;
}

.detail-tabs {
  min-height: 200px;
}

.detail-tabs a {
  color: hsl(0, 82%, 40%);
}

.detail-tabs a:hover {
  color: hsl(0, 82%, 20%);
}

.center {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.display-flex-end {
  display: flex;
  justify-content: flex-end;
}

.justify {
  display: flex;
  justify-content: space-between;
}

.display-inline {
  display: inline;
}

.margin-right-50 {
  margin-right: 50px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.margin-top-70 {
  margin-top: 70px;
}

.addFoodForm {
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  border: 1px solid #dce0e0;
}

.Container {
  margin-top: 40px;
  margin-left: 35%;
  margin-right: 35%;
  padding: 10px;
  border: 1px solid #dce0e0;
}

.containerProfile {
  height: 500px;
  width: 40%;
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  border: 1px solid #dce0e0;
  border-radius: 50%;
}

.menu-sign {
  padding: 8px 8px 3px 8px;
  border-radius: 4px;
  text-decoration: none;
  font-family: Comfortaa;
  background: #bb1212;
  color: white !important;
}
.menu-sign:hover {
  color: #bb1212 !important;
  text-decoration: none;
  background: white;
}

.border-sign {
  padding: 8px 8px 3px 8px;
}

.large-font {
  font-size: 100px;
  font-family: Comfortaa;
}

.border-sign:hover {
  text-decoration: none;
  background: #ffffff;
  color: #000;
}

.buttonText {
  height: 40px;
  background: #fff;
  color: #000;
}

.buttonText:hover {
  background: #fff;
  color: #000;
}

@media screen and (max-width: 600px) {
  .inputText {
    border-radius: 10px;
    width: 100% !important;
  }
  .textNavBar {
    margin-right: 2px;
    color: white;
    text-align: right;
    font-family: Comfortaa;
    font-size: 10px !important;
  }
}

.inputText {
  border-radius: 10px;
  width: 50%;
}

.textNavBar {
  margin-right: 2px;
  color: white;
  text-align: right;
  font-family: Comfortaa;
  font-size: 1em;
}

.textNavBar:hover {
  text-decoration: none;
  color: black;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.rowLink {
  text-align: right;
}

.card-img {
  object-fit: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.invalid-pas-notif {
  color: red;
  font-size: 10px;
}

.image-height {
  height: 300px;
}

.slick-slide img {
  padding: 5px;
}
