body {
  margin-top: 100px;
}

.img {
  width: 640px;
  height: 360px;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.border-black {
  border: solid black 1px;
}

.card-full {
  height: 320px;
  padding: 0px !important;
  margin: 10px;
}

.paragraph:hover {
  text-decoration: none;
  color: #5a6268;
}

.app-content {
  flex: 1;
}

.width-full {
  width: 100%;
}

.pb-cmnt-container {
  font-family: Lato;
  margin-top: 100px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  width: 100%;
  border: 1px solid #f2f2f2;
}

.App-header {
  background-color: #bb1212;
  height: 90px;
  padding: 20px;
  color: white;
  text-align: right;
  justify-content: flex-end;
}

.header {
  background-color: red;
  height: 70px;
  color: white;
  text-align: right;
  justify-content: flex-end;
}

.footer {
  border-top: solid #ccc 2px;
  padding: 25px;
  width: 100%;
  height: 8px;
}

.carousels {
  display: flex;
  justify-content: center;
}

.detailTab {
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
}

.justify {
  display: flex;
  justify-content: space-between;
}

.display-inline {
  display: inline;
}

.margin-right-50 {
  margin-right: 50px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-100 {
  margin-top: 100px;
}

.addFoodForm {
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  border: 1px solid #dce0e0;
}

.Container {
  margin-top: 40px;
  margin-left: 35%;
  margin-right: 35%;
  padding: 10px;
  border: 1px solid #dce0e0;
}

.containerProfile {
  height: 500px;
  width: 40%;
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
  border: 1px solid #dce0e0;
  border-radius: 50%;
}

.menu-sign {
  padding: 8px 8px 3px 8px;
  background: #fff;
  color: #000 !important;
}

.border-sign {
  padding: 8px 8px 3px 8px;
}

.border-sign:hover {
  text-decoration: none;
  background: #ffffff;
  color: #000;
}

.buttonText {
  height: 40px;
  background: #fff;
  color: #000;
}

.buttonText:hover {
  background: #fff;
  color: #000;
}

.homeProduct {
  margin: 0 !important;
  padding: 10px;
}

.inputText {
  margin-right: 5px;
  border-radius: 10px;
  height: 36px;
  width: 50%;
  justify-content: center;
}

.textNavBar {
  margin-right: 2px;
  color: white;
  text-align: right;
  font-family: Comfortaa;
  font-size: 1em;
}

.textNavBar:hover {
  text-decoration: none;
  color: black;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.rowLink {
  text-align: right;
}

.card-img {
  object-fit: cover;
}

.searchText {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
